body{
    margin: 0;
}

nav{
    display: flex;
    flex-direction: column;
    flex-basis: 15vw;
    flex-shrink: 0;

}

nav a{
    background-color: darkslategrey;
    color: antiquewhite;
    padding: 0.25em 0.5em;
    text-decoration: none;
    transition: background-color 0.5s;
}

nav a:hover{
    background-color: cornflowerblue;
}

header, section, main{
    overflow: auto;
}

header, section{
    padding: 0 0 0.5em;
}

header{
    background-color: cadetblue;
}

nav, main{
    box-sizing: border-box;
}

section{
    overflow: auto;
}

main{
    display: flex;
    flex-direction: row-reverse;
}